/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
@media(max-width: 600px) {
    .me{
        width: 50%;
        height: 50%;
        border-radius: 100%;
        border: 3px solid #fff;
        margin-top: -25%;
    }
}
@media (min-width: 600px) {
    .me{
        width: 25%;
        height: 25%;
        border-radius: 100%;
        border: 3px solid #fff;
        margin-top: -13%;
    }
}

body:after {
    background: linear-gradient(to right, #20c12b 25%, #20c12b 25%, #d7d4d4 25%, #d7d4d4 75%, #c83030 75%);
    position: absolute;
    content: '';
    height: 7px;
    right: 0;
    left: 0;
    top: 0;
    padding-bottom: 0px !important;
}

.social{
    margin-left: 3%;
}

.arrivederci{
    font-size: 72px;
    color: #fff;
}
